* {
    padding: 0px;
    margin: 0px;
}

footer {
    height:40px;
}

.header {
    background-image: url('../img/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.overlay {
    /* position: absolute; */
    min-height: 400px;
    min-width: 100%;
    padding: 100px 0px 100px 0px;
    background: rgba(244, 244, 244, 0.39);
}

.footer {
    padding: 25px 0px 25px 0px;
    min-width: 100%;
}
